# Import Libraries & Data

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.colors import ListedColormap
import statsmodels.api as sm
from scipy.stats import boxcox
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

## Import Data

In [ ]:
info = pd.read_excel("Data/data_dictionary.xlsx")

In [ ]:
info

In [ ]:
survey= pd.read_csv("Data/employee_survey_data.csv")
survey.columns= survey.columns.str.lower()
survey

In [ ]:
#check for nan values
survey.isnull().values.any()

In [ ]:
display(survey.isnull().sum())

In [ ]:
general= pd.read_csv('Data/general_data.csv')
general
general.columns= general.columns.str.lower()
general

In [ ]:
general["employeecount"].unique()

In [ ]:
general["over18"].value_counts()

In [ ]:
manager= pd.read_csv('Data/manager_survey_data.csv')
manager.columns= manager.columns.str.lower()

In [ ]:
general["over18"].unique()

In [ ]:
# merge data sets

In [ ]:
general= pd.merge(general, survey, on = "employeeid", how = "inner")
general

In [ ]:
general= pd.merge(general, manager, on = "employeeid", how = "inner")

In [ ]:
general

In [ ]:
general.dtypes

In [ ]:
general['jobsatisfaction'].unique()

In [ ]:
general['totalworkingyears'].unique()

In [ ]:
display(general.isnull().sum())

In [ ]:
general.drop_duplicates()

# Data Cleaning

## Replacing null value with 0

In [ ]:
np.where(general['numcompaniesworked'].isnull())[0]

In [ ]:
general['numcompaniesworked'] = general['numcompaniesworked'].fillna(value = 0)

In [ ]:
general['numcompaniesworked'].isnull().sum()

In [ ]:
general['numcompaniesworked'].value_counts()

## Replacing null value with mode

In [ ]:
np.where(general['environmentsatisfaction'].isnull())[0]

In [ ]:
for column in ['environmentsatisfaction']:
    general[column].fillna(general[column].mode()[0], inplace=True)

In [ ]:
general['environmentsatisfaction'].isnull().sum()

## Replacing null value with mode

In [ ]:
np.where(general['jobsatisfaction'].isnull())[0]

In [ ]:
for column in ['jobsatisfaction']:
    general[column].fillna(general[column].mode()[0], inplace=True)

In [ ]:
general['jobsatisfaction'].isnull().sum()

## Replacing null value with mode

In [ ]:
np.where(general['worklifebalance'].isnull())[0]

In [ ]:
for column in ['worklifebalance']:
    general[column].fillna(general[column].mode()[0], inplace=True)

In [ ]:
general['worklifebalance'].isnull().sum()

## Replacing null value with mode totalworkingyears

In [ ]:
for column in ['totalworkingyears']:
    general[column].fillna(general[column].mode()[0], inplace=True)

In [ ]:
general.isnull().sum()

## Handling Null Value

In [ ]:
for column in general.columns:
    if general[column].dtype == 'float64':
        general[column] = general[column].astype('int64')

In [ ]:
general.dtypes

## Dropping not informative columns

In [ ]:
general['over18'].value_counts()

In [ ]:
general['employeecount'].value_counts()

In [ ]:
general['standardhours'].value_counts()

In [ ]:
general = general.drop(['over18','employeecount', 'standardhours' ], axis = 1).reset_index(drop = True)

In [ ]:
general

# Data Processing

## Transforming dt Time

In [ ]:
in_time= pd.read_csv('Data/in_time.csv')
in_time.head()

In [ ]:
out_time = pd.read_csv('Data/out_time.csv')
out_time.head()

In [ ]:
## Concat time data sets

In [ ]:
total_time= in_time.append(out_time)
total_time

In [ ]:
# remove 0 values (0 values are days where the office was closed)

In [ ]:
total_time = total_time.dropna(axis=1, how='all')

In [ ]:
total_time

In [ ]:
# replace individual days that have NaN with 0 ( for future calculations)

In [ ]:
total_time.fillna(0, inplace= True)
total_time

In [ ]:
## Convert to datatime format

In [ ]:
total_time.iloc[:,1:]= total_time.iloc[:,1:].apply(pd.to_datetime, errors='coerce')

In [ ]:
total_time

In [ ]:
total_time = total_time.diff(periods=4410)

In [ ]:
total_time = total_time.iloc[4410:]

In [ ]:
total_time

In [ ]:
total_time.reset_index(inplace=True)

In [ ]:
total_time

In [ ]:
total_time.drop(columns=['index','Unnamed: 0'],axis=1,inplace=True)

In [ ]:
total_time.head()

In [ ]:
total_time['mean_time'] = total_time.mean(axis=1)

In [ ]:
total_time

In [ ]:
# convert mean time into hours
total_time.mean_time = total_time.mean_time.apply(lambda x : int(str(x).split(' ')[2].split(':')[0]) + int(str(x).split(' ')[2].split(':')[1])/60 + float(str(x).split(' ')[2].split(':')[2])/3600)
total_time.index = range(1,len(total_time)+1)

In [ ]:
total_time.reset_index(inplace=True)

In [ ]:
total_time

In [ ]:
total_time.index = range(1,len(total_time)+1)

In [ ]:
# Rename index as emID to add the general data set
total_time = total_time.rename(columns = {'index' : 'employeeid'})

In [ ]:
# Overwrite totalt only with the columns we need for general
total_time = total_time[['employeeid','mean_time']]

In [ ]:
general = pd.merge(general, total_time, on = 'employeeid', how = 'inner')

In [ ]:
general

In [ ]:
general.to_csv('Data/general_hr_data.csv')

## Data Distribution

In [ ]:
general['businesstravel'].value_counts()

In [ ]:
general['department'].value_counts()

In [ ]:
general['distancefromhome'].value_counts()

In [ ]:
general['education'].value_counts()

In [ ]:
sns.histplot(general['distancefromhome'])

In [ ]:
general['educationfield'].value_counts()

In [ ]:
general['joblevel'].value_counts()

In [ ]:
general['jobrole'].value_counts()

In [ ]:
general['maritalstatus'].value_counts()

In [ ]:
general['monthlyincome'].sort_values(ascending= False)

In [ ]:
sns.histplot(general['monthlyincome'],bins= 10)

In [ ]:
general['numcompaniesworked'].value_counts()

In [ ]:
general['percentsalaryhike'].value_counts()

In [ ]:
sns.histplot(general['percentsalaryhike'],bins= 15)

In [ ]:
general['stockoptionlevel'].value_counts()

In [ ]:
general['totalworkingyears'].value_counts()

In [ ]:
general['trainingtimeslastyear'].value_counts()

In [ ]:
general['yearsatcompany'].value_counts()

In [ ]:
sns.histplot(general['yearsatcompany'],bins= 15)

In [ ]:
general['yearssincelastpromotion'].value_counts()

In [ ]:
sns.histplot(general['yearssincelastpromotion'],bins= 14)

In [ ]:
general['yearswithcurrmanager'].value_counts()

In [ ]:
general['environmentsatisfaction'].value_counts()

In [ ]:
sns.histplot(general['environmentsatisfaction'])

In [ ]:
sns.histplot(general['jobsatisfaction'])

In [ ]:
general['worklifebalance'].value_counts()

In [ ]:
sns.histplot(general['worklifebalance'])

In [ ]:
sns.histplot(general['jobinvolvement'])

In [ ]:
sns.histplot(general['performancerating'])

In [ ]:
general['performancerating'].value_counts()

In [ ]:
sns.histplot(general['mean_time'])

In [ ]:
plt.figure(figsize=(35,30))
for i, column in enumerate(general.columns,1):
    plt.subplot(9,3,i)
    sns.histplot(general[column])

- Majority of employee travel rarely.
- Majority of employees are in research and development.
- Majority of employees live within 2KM from the office (skewed on the left).
- Majority of employees have a BA. Almost normal distribution.
- Majority of employees are in Life Sciences and Medical education field.
- Majority of employees are male. Female are ca. <40% less.
- Majority of employees are in joblevel 1 and 2.
- Majority of employees are Sales Executive and Research Scientist.
- Majority of employees are married.
- Monthly income: log normal on the left --> what about clustering it?
- Majority of employees worked in 1 company before. log normal on the left
- Majority of employees had an increase >11% =< 14%on the income (percentsalaryhike)
- Majority of employees do not have stock option of the company. --> more on stock option?
- totalworkingyears skewed on the lft --> to be normalized
- Majority of employees received two training sessions
- Majority of employees are working at the company > 0 < 5.5 years 
- Year since last promotion: biggest group employees with no promotion and second largest group employees got promoted last year
- Majority of employees has been 2 years with the current manager (!)
- Majority of employees are satisfied(3) or highly satisfied(4) with the enviroment
- Majority of employees are highly satisfied(4) or satisfied(3) with their job 
- Majority of employees are highly satisfied with the work/life balance
- Most of the employees are highly involved in their job according to the managers
- All employees have an excellent of outstanding performance (no low or good performance) (!)
- The column mean time shows that almost half of the employees are at the office less than eight hours per day. We assume that a great number of sales employees do their work outside of the office.

In [ ]:
## Working with numerical variables

In [ ]:
general.dtypes

In [ ]:
general['education'] = general['education'].astype('category')

In [ ]:
general.dtypes

## Change type of categorical features

In [ ]:
general[['joblevel','education','stockoptionlevel','environmentsatisfaction', 'jobsatisfaction', 'worklifebalance','jobinvolvement','performancerating']]=general[['joblevel','education','stockoptionlevel','environmentsatisfaction', 'jobsatisfaction', 'worklifebalance','jobinvolvement','performancerating']].astype(object)

In [ ]:
general.dtypes

## Numerical features

In [ ]:
numerical = general.select_dtypes(np.number)
numerical = numerical.drop(['employeeid'], axis = 1).reset_index(drop = True)
numerical

## Standardize numerical features

In [ ]:
zscore=(numerical-numerical.mean())/numerical.std()
zscore
numerical.mean()

In [ ]:
corr=zscore.corr()
corr

In [ ]:
import statsmodels.api as sm
from scipy.stats import boxcox
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask)] = True
with sns.axes_style("white"):
    f, ax =plt.subplots(figsize=(9, 7))
    multicollinearity_ax = sns.heatmap(corr, mask=mask, cmap='coolwarm', vmin=-1,vmax=1,annot=True, square=True)

In [ ]:
numerical_targ = pd.concat([numerical, general['attrition']],axis=1)

In [ ]:
numerical_targ

In [ ]:
numerical_targ['attrition'] = numerical_targ['attrition'].apply(lambda x:0 if x=="No" else 1)
numerical_targ
#churnData['churn'] = churnData['churn'].apply(lambda x: 0 if x == 'No' else 1)

In [ ]:
numerical_targ['attrition'].value_counts()

In [ ]:
zscore_targ=(numerical_targ-numerical_targ.mean())/numerical_targ.std()
numerical_targ.mean()
corr=zscore_targ.corr()
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask)] = True
with sns.axes_style("white"):
    f, ax =plt.subplots(figsize=(9, 7))
    multicollinearity_ax = sns.heatmap(corr, mask=mask, cmap='coolwarm', vmin=-1,vmax=1,annot=True, square=True)

- No high correlation between numerical & target variable

## Categorical features

In [ ]:
categorical = general.select_dtypes(include=object)
categorical = categorical.drop(['attrition'], axis=1).reset_index(drop = True)
categorical